# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ——— Main project files ———
/.idea
/node_modules
/vendor
/.env
/docs

# ——— Laravel / Vite ———
/public/build
/public/hot
/public/storage
/public/sitemap*

# ——— testing ———
/.phpunit.cache
/.phpunit.result.cache
/coverage

# ——— ключи и приватная конфигурация Composer ———
/storage/*.key
/auth.json
/dev/auth.json
/dev/theins_prod_09112025_tar
/dev/data/

# ——— служебное ———
/storage/pail

# ——— логи npm / yarn при сбоях установки ———
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
